* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2F9FE;
}

header {
    display: flex;
    padding: 1.5rem;
    align-items: center;
    justify-content: space-between;
}