@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2F9FE;
    font-size: 1.125rem;
    font-family: "Poppins", sans-serif;
}

header {
    padding: 1.5rem;
    align-items: center;
    justify-content: space-between;
}

.flex {
    display: flex;
}

nav, .selected {
    background-color: #FFFFFF;
}

.grey-color {
    color: #919193;
}

.theme-btn, .selected {
    border-radius: 5rem;
}

button {
    border: none;
    background-color: inherit;
    font-size: 1.5rem;
}

nav {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1.5rem;
    text-align: right;
    height: 200vh;
}

ul {
    font-size: 3rem;
    font-weight: 600;
    list-style: none;
    padding: 0;
    text-align: center;
}

li {
    margin: 2rem 4.5rem;
}

a {
    text-decoration: none;
}

a:hover {
    color: #111729;
}

.theme-btn {
    background-color: #111729;
    margin: 0 auto;
    padding: 0.1rem;
    width: 2.5rem;
    justify-content: space-between;
}

.theme-btn img {
    width: 16px;
}

main {
    padding: 3rem 1rem;
}

.hero-img {
    max-width: 100%;
}

.main-text {
    margin: 8rem 6.5rem 8rem 3.5rem;
}

h1 {
    font-size: 3.75rem;
    margin: 1rem 0;
    color: #223344;
}

.intro-txt{
    margin: 2rem 0;
}

.small-txt {
    font-size: 0.875rem;
}

p {
    margin-right: 2rem;
}

.intro {
    font-weight: 600;
}

.last {
    align-items: center;
    margin-top: 2rem;
}

.last img {
    margin-right: 0.5rem;
}

.get-started {
    color: #FFFFFF;
    background-color: #2A4DD0;
    padding: 1rem 2rem;
    border-radius: 0.75rem;
}

.get-started, .dark, .dark h1, .dark button, .dark a:hover {
    color: #FFFFFF;
}

.get-started, .live-demo {
    font-size: 1rem;
}

.live-demo {
    color: #2A4DD0;
    text-decoration: underline;
    margin-left: 2rem;
    text-underline-offset: 0.15rem;
    font-weight: 600;
    text-decoration-thickness: 0.15rem;
}

.hide {
    display: none;
}

.dark {
    background-color: #111729;
}

.dark nav {
    background-color:#223344
}

@media screen and (min-width: 1024px) {
    .button-nav {
        display: none;
    }

    .hide {
        display: flex;
        position: static;
        justify-content: space-between;
        padding: 0;
        height: auto;
        background-color: inherit;
        width: 65%
    }

    .hide button {
        margin: 0;
    }

    ul {
        display: flex;
        font-size: 0.875rem;
    }

    li {
        padding: 0 1.25rem;
        margin: 0;
    }  

    .dark nav {
        background-color: inherit;
    }

    .dark .theme-btn {
        background-color: #223344;
    }

    .hero-img {
        max-width: 60%;
        display: block;
        margin: 0 auto;
    }

    main {
        margin: 4rem 3rem 0;
        padding: 0;
    }

    .main-text {
        width: 90%;
    }

    .intro-txt {
        width: 60%;
    }
}

@media screen and (min-width: 1280px) {
    header {
        padding: 1.5rem 3rem;
    }
    main {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .main-text {
        margin: 0;
        padding-left: 1rem;
        padding-right: 8rem;
    }

    .intro-txt {
        width: 100%;
    }

    .hero-img {
        width: 100%;
        height: 100%;
    }
}