* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2F9FE;
    font-size: 1.125rem;
}

header {
    display: flex;
    padding: 1.5rem;
    align-items: center;
    justify-content: space-between;
}

button {
    border: none;
    background-color: inherit;
    font-size: 1.125rem;
}

nav {
    position: absolute;
    right: 0;
    background-color: #FFFFFF;
    padding: 2rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}